.NavColor {
    background-color: rgb(10, 3, 51);
    color: white;
  }
  .whiteColor {
    color: #fff;
    font-weight: bolder;
  }
  .whiteColor > a {
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
  }
  .whiteColor > a:hover {
      text-decoration: underline;
      color:red
  }  
  .whiteColor > a:focus, a:active {
    text-decoration: underline;
    color:yellow
} 
  .NavColor .brandColor {
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
  }
  
  .iconColor {
      background-color:white;
  }
  