<div class="container">
  <div class="row">
    <div class="col">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3894.193406982219!2d-7.990856685699129!3d12.56949522697584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDM0JzEwLjIiTiA3wrA1OScxOS4yIlc!5e0!3m2!1sen!2sgh!4v1595693583310!5m2!1sen!2sgh"
        height="300"
        width="100%"
        frameborder="0"
        title="location"
      ></iframe>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
        <h3>Contact us</h3>
        <h4>+0785-456-45</h4>
        <h4>infos@infos.com</h4>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="email"
          class="form-control"
          id="name"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
    </div>
  </div>
</div>
