<div class="container-fluid">
  <div class="row hero-section">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 hero-section-text"
    >
      <h1>Startup Your Business With us</h1>
      <h1>Let us Hnadle Your Digital Marketing</h1>
      <h1>Grow Your Business, Save Money</h1>
    </div>
    <div class="col hero-section-img d-none d-md-block">
      <img
        src="../../assets/images/comp.jpg"
        id="logocomp"
        class="d-none d-md-block"
        alt="logocomp"
      />
    </div>
  </div>
  <div class="row service-section">
    <div class="col">
      <h2>hello</h2>
    </div>
    <div class="col">
      <h2>hello</h2>
    </div>
    <div class="col">
      <h2>hello</h2>
    </div>
    <div class="col">
      <h2>hello</h2>
    </div>
  </div>
</div>
