<div class="container-fluid">
  <div class="row hero-section">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 hero-section-text"
    >
     <h1> Startup Your Business With us</h1>
     <h1>Let us Handle Your Digital Marketing</h1>
     <h1>Grow Your Business, Save Money</h1>
        <button type="button" class="btn btn-primary getstartbtn"> Get Started</button>
    </div>
    <div class="col hero-section-img d-none d-md-block">
      <img
        src="../../assets/images/mann.PNG"
        id="logocomp"
        class="d-none d-md-block"
        alt="logocomp"
      />
    </div>
  </div>
  <div class="row service-section mt-3">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="card service-card">
        <img src="../../assets/images/mark.png" class="card-img-top" alt="..." />
        <div class="card-body service-card-body">
          <h5 class="card-title">Strategy</h5>
          <p class="card-text">
            We'll work with you to develop the right strategy
          </p>
          <a href="#" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="card service-card">
            <img src="../../assets/images/soft.png" class="card-img-top" alt="..." />
            <div class="card-body service-card-body">
              <h5 class="card-title">Sofware</h5>
              <p class="card-text">
               We'll build new generation of Sofware to improve your business.
              </p>
              <a href="#" class="btn btn-primary">More...</a>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="card service-card" >
            <img src="../../assets/images/depl.png" class="card-img-top" alt="..." />
            <div class="card-body service-card-body">
              <h5 class="card-title">Hosting & Deployment</h5>
              <p class="card-text">
                Dedicated servers to Host, deploy and test applications
              </p>
              <a href="#" class="btn btn-primary">More...</a>
            </div>
          </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="card service-card" >
            <img src="../../assets/icons/suit-diamond-fill.svg" class="card-img-top tex-center" alt="..." />
            <div class="card-body service-card-body">
              <h5 class="card-title ">Equipments</h5>
              <p class="card-text">
              brand new and powerfull equipment for your business,
              </p>
              <a href="#" class="btn btn-primary">More...</a>
            </div>
          </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col d-none d-md-block">
        <img src="../../assets/images/sales.PNG" class="sales-img ml-5" alt="..." />
    </div>
    <div class="col mt-5">
        <h1>Sales Growth</h1>
        <h3>
            You can talk about your secondary services here, 
            or maybe promote your excellent customer
             service approach, Always grab your website visitors' attention
        </h3>
    </div>
</div>
<div class="row">
    
    <div class="col mt-5">
        <h1>Software development</h1>
        <h3>
            We develop large game of Sofware (Web app, Mobile, Desktop) to support your business,
            Our Startup is the first in services integration with new technologies
        </h3>
    </div>
    <div class="col d-none d-md-block">
        <img src="../../assets/images/soft.png" class="software-img ml-5" alt="..." />
    </div>
</div>

</div>

